<style type="text/css">
	#space{
		margin-left: 35px;
	}

	#titlepg{
		text-align: center;

	}

	.centerimg{
		margin: 0 auto;
		width: 750px;
		height: 100%;
	}
</style>

<div id="page_wrapper">
	<h1 id="titlepg">PODCASTS</h1>
	<br>
	<div class="centerimg">
		<%= image_tag "jn.png" %><span id="space"></span><%= image_tag "anticast.png" %><span id="space"></span><%= image_tag "mamilos.png" %><span id="space"></span><%= image_tag "bc.png" %>
	</div>

	<br><br><br>
	<h1 id="titlepg">LINKS PARA FRANCÊS</h1>
</div>